

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

h1 {
    background-color: bisque;
    padding: 20px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 20px 20px 20px;
}

.recetas-card {
    background-color: rgb(179, 231, 214);
    padding: 40px 40px;
    text-align: center;
    margin: 0px 20px;
}

.receta {
    display: inline-block;
    background-color: whitesmoke;
    padding: 20px 20px 5px 20px;
    color: black;
    margin: 20px;
    list-style-type: none;
}

img {
    height: 150px;
    width: auto ;
}